*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
.banner-title{
    font-size: 50px;
}
#banner{
    background-color: white;
    padding: 8px 16px;
}

/* main */

/* button */
.header-box{
    padding: 10px 40px;
    border-bottom: 2px #F6F8F9 solid;
}
#box{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
}

main{
    background-color: #f6f8f9;
}

/* main-content-box */
.editoria{
    display: inline-block;
    background-color: #44abea;
    /* width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle; */

}
