*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    width: 100%;
    height: 80px;
    background-color: white;
}

#img-logo {
    width: 60px;
    height: 60px;
    line-height: 100px;
    vertical-align: middle;
    margin: 10px 15px 10px 25px;
}

#text-logo {
    font-size: 50px;
    vertical-align: middle;
}

/* main */
main {
    background-color: #f6f8f9;
}

#box {
    width: 600px;
    height: 700px;
    background-color: white;
    margin: auto
}

/* box-link */
#link {
    width: auto;
    height: 50px;
    border-bottom: 3px solid #f6f8f9;
}

.bt {
    border: 1px solid;
    line-height: 50px;
    border-radius: 4px;
    font-size: medium;
    padding: 4px;
}

.bt-task {
    color: white;
    background-color: #47adf1;
    border: none;
}

.bt-section {
    color: #b4bbbf;
    background-color: white;
    border-color: #b4bbbf;
}

/* box-section-1 */
h2::before{
    content: "\25BC";
}

.done::before{
    content: "✔";
    color: green;
}
.undone::before{
    content: "\2717";
    color: red;
}
/* mark */
.mark{
        border: 1px solid;
        line-height: 50px;
        border-radius: 9px;
        border: none;
        font-size: small;
        padding: 2px;
        color: white;
}

/* mark-ed-go-rec-mob-web-sal */
.editoria{
    background-color: #45abea;
}

.goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color:#64c0a9 ;
}

.mobile{
    background-color: #f29d32;
}

.web{
    background-color: #d863a1;
}

.sales{
    background-color: #b0c926;
}